.ys-head {
  background-color: #a3cc31;
  height: 45px;
  text-align: center;
  position: relative;
  h1 {
    font-size: 18px;
    color: #fff;
    line-height: 45px;
    padding: 0 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.match-footer {
  padding: 20px 0 60px 0;
  font-size: 12px;
}
