.label-act {
  //height: 50px;
  background-color: #fff;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  .linkwrapper {
    color: #051b28;
    max-width: 100%;
  }
  .title {
    text-align: left;
    width: 100%;
  }
  .subtitle {
    text-align: right;
    color: #999;
    font-size: 0.7em;
  }
}
