.airbnb-dropdown {
  font-size: 1rem;
  line-height: 1.4rem;
  color: #484848;
  position: relative;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-bottom: 8px;
  display: block;
  width: 100%;
  .content {
    overflow: hidden;
    .dropdown {
      appearance: none;
      color: #484848;
      font-weight: 300;
      background-color: transparent;
      border: none;
      border-radius: 0px;
      padding: 11px;
      padding-right: 40px;
      height: 46px;
      display: block;
      width: 100%;
    }
  }
  .indicator {
    position: absolute;
    right: 16px;
    top: 16px;
    line-height: 0;
    pointer-events: none;
  }
}

.airbnb-dropdown-inline {
  font-size: 1rem;
  line-height: 1.4rem;
  color: #484848;
  position: relative;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-bottom: 8px;
  display: inline-block;
  padding: 0.35rem 0.75rem;
  //width: 100%;
  .content {
    overflow: hidden;
    .dropdown {
      appearance: none;
      color: #484848;
      font-weight: 300;
      background-color: transparent;
      border: none;
      border-radius: 0px;
      padding: 0 11px;
      padding-right: 40px;
      //height: 46px;
      display: block;
      width: 100%;
    }
  }
  .indicator {
    position: absolute;
    right: 16px;
    top: 10px;
    line-height: 0;
    pointer-events: none;
  }
}
