.participant {
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
}
.page-cover {
  background: url(/ysj/vote/bg2.png) center 0 no-repeat;
  background-size: cover;
}

.user-number {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.user-img {
  display: block;
  border: 1rem solid;
  border-image: url(/ysj/vote/bg1.png) 40 repeat;
  height: 15rem;
  overflow: hidden;
  text-align: center;
}

.bg-user1 {
  background-color: #f17c67;
}

.legend-wrapper {
  position: relative;
  line-height: 2rem;
  font-size: 1.6rem;
}
.legend-header {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-top: 0.5em;
}
