.product {
  .banner {
    width: 100%;
    padding-bottom: 53.3%;
    position: relative;
  }
  .course-highlight-tag {
    width: 100%;
    height: 22px;
    font-size: 12px;
    text-indent: 15px;
    line-height: 22px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPYAAABCCAMAAABTl9uZAAAA7VBMVEVHcEz/gFX/bDv/ZzT/akD/ZzP/cTn/ZjP/////cED/ZjT/ZjP/ZjT/ZzT/ZzX/ZzP/ZzT/gID/ZjP/ZzT/ZjP/ZzT/aDT/ajX/ZzT/ZzP/ZjP/aDb/dEb/bTf/ajj/ZzP/ZzX/ZjT/ZzX/ZjT/ZzX/azb/ZjT/aTX/ZzT/azr/aTX/ZzP/ZjT/ZzP/ZzP/ZjP/ZzT/aDT/bUn/aDT/ZzX/ZjP/ZjP/ZjT/ZjT/ZjP/ZjT/ZzT/Zzf/ZjT/ZzT/ZjP/aDj/ZzT/ZjP/ZjP/aTX/aDT/ZjP/aDT/ZjT/aDb/ZzT/gED/ZzP/ZzX/ZjOExxQBAAAATnRSTlMABhrODP0J/gEQ8tL850jH7ALw+/qoLB2t1fRMCw4p7nmxfraDJso/tR9EmtmfpCPYgAeFQ9w8a3BQdZ4leqPbILLqaSI7bkCYUcsI6XRNCniaAAABFElEQVRo3u3bCzaCURSG4Y/wF6VUhKIrkVspRFJKKfLNfzjNw3v2DJ619jrr7JtMjIWI6vQGkZ3aFJCdn4nInorIHojIvnwkslcFAdm5pojsuYjsDxHZsR0iO3MtIDvZE5H9JyL7UET2XonILn8JyN7eF5FdEZF9LCL7ZIvIzr4LyI6KIrJrIrKrcSK7fSYge/dcQHb0KiK7ISL76oDIHiUEZJ8eKbA5Sf6ETHK7jnzS7C6THS2RbOjn1L5FliL2J7LwtDtMNrSp5OyFQsOYNB6II9keMtnQ0Z/LDwpj/bDE8e/jjclOtpBsZ8YKy5eguGey3Weyc99ItifIown75xfJ9h2T7RcmO/+MZENPW6mHzPbNGt7DSDAFByoOAAAAAElFTkSuQmCC)
      0 no-repeat;
    background-size: contain;
    color: #fff;
    margin-bottom: 5px;
  }
  .buyinfo {
    td {
      padding: 0.4em;
    }
  }
}
